
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode or PyCharm
.vscode/
.idea/
log_profiler/

# bin
*.bin
*.pt
*.pkl
